    
<form action="" [formGroup]="customerForm" (ngSubmit)="save()">
    <div class="content-header">
        <button routerLink="/home/homeChild01">zurück</button>
        <button (click)="save()">Speichern</button>
        <h3>{{customer.number}} {{customer.firstName}} {{customer.lastName}}</h3>
    </div>

    <div class="content">
        <Label for="customer-id">id</Label>
        <input id="customer-id" type="text" placeholder="ID" name="customer-id" formControlName="id">
        <Label for="customer-number">Nummer</Label>
        <input id="customer-number" type="text" placeholder="Nummer" name="customer-number" formControlName="number">
        <Label for="customer-firstName">Vorname</Label>
        <input id="customer-firstName" type="text" placeholder="Vorname" name="customer-firstName" formControlName="firstName">
        <Label for="customer-lastName">Nachname</Label>
        <input id="customer-lastName" type="text" placeholder="Nachname" name="customer-lastName" formControlName="lastName">
        <Label for="customer-test1">test1</Label>
        <input id="customer-test1" type="text" placeholder="test1" name="customer-test1" [formControl]="testForm">
        <Label for="customer-test2">test2</Label>
        <input id="customer-test2" type="text" placeholder="test2" name="customer-test2" formControlName="firstName2">
    </div>
</form>

