$header-width: calc(100% - 236px);

div.content-header {
    background-color: lightgray;
    width: $header-width;
    height: 50px;
    position: fixed;
    z-index: 5;
    border-radius: 8px;
    border: 1px solid rgb(166, 166, 166);

    button {
        margin: 4px;
        padding: 2px 6px;
        border: 1px solid rgb(166, 166, 166);
        border-radius: 6px;
        cursor: pointer;
    }

    button:hover {
        background-color: rgb(190, 190, 190);
    }

    label {
        margin: 0 4px 0 8px;
        color: rgb(93, 93, 93);
        font-size: .8rem;
    }

    input {
        background-color: inherit;
        border: none;
        color: rgb(93, 93, 93);
        font-size: .8rem;
    }
}

h3 {
    padding: 2px 0 0 12px;
    display: inline-block;
}

div.content {
    position: relative;
    top: 50px;
    margin-bottom: 61px;
    padding: 6px 12px;

    label {
        // margin: 0 12px 0 0;
    }

    input {
        margin: 0 24px 0 12px;
        border: 1px solid rgb(93, 93, 93);
        border-radius: 4px;
        padding: 2px 6px;
    }
}