<div class="content-header">
    <button routerLink="/home/homeChild01/addDetail">Kunde hinzufügen</button>
    <h3>Kunden</h3>
</div>

<div class="content">
    <p class="item"
        *ngFor="let customer of customers"
        routerLink="/home/homeChild01/editDetail/{{customer.id}}"
    >
        {{customer.id}} | {{customer.number}} | {{customer.firstName}} {{customer.lastName}}
        <button (click)="delete(customer)">löschen</button>
    </p>
</div>

<div class="version">
    <p>Musterfirma GmbH</p>
    <p>v 0.0.12</p>
    <p>copyright</p>
</div>