$header-width: calc(100% - 236px);

div.content-header {
    background-color: lightgray;
    width: $header-width;
    height: 50px;
    position: fixed;
    z-index: 5;
    border-radius: 8px;
    border: 1px solid rgb(166, 166, 166);
    
    button {
        margin: 4px;
        padding: 2px 6px;
        border: 1px solid rgb(166, 166, 166);
        border-radius: 6px;
        cursor: pointer;
    }

    button:hover {
        background-color: rgb(190, 190, 190);
    }

    label {
        margin: 0 4px 0 8px;
        color: rgb(93, 93, 93);
        font-size: .8rem;
    }

    input {
        background-color: inherit;
        border: none;
        color: rgb(93, 93, 93);
        font-size: .8rem;
    }
}

h3 {
    padding: 2px 0 0 12px;
    display: inline-block;
}

div.content {
    position: relative;
    top: 50px;
    margin-bottom: 61px;
}

p.item {
    background-color: beige;
    height: 50px;
    margin: 12px;
    border-radius: 8px;
    padding: 2px 0 0 8px;
    cursor: pointer;
}

p.item:hover {
    background-color: rgb(233, 233, 215);
}

div.version {
    text-align: center;
    margin-bottom: 12px;        
}

div.version > p {
    color: #444;
    font-size: .75rem;
    font-weight: 600;
}